@import "../variables";
@import "../styles/highlight-and-shadows.mixin.scss";

.Button {
    background-color: $color-background;
    @include highlight-and-shadows(6px, $color-highlight, $color-shadows);

    position: relative;

    &:active {
        @include highlight-and-shadows(6px, $color-shadows, $color-background);

        div.inner {
            transform: translate(1px, 1px);
        }

        &::after {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;

            width: calc(100% + 6px * 2 - 1px);
            height: calc(100% + 6px * 2 - 1px);

            border-bottom: 1px solid $color-shadows;
            border-right: 1px solid $color-shadows;
        }
    }
}
