$size-cell: 30px;

$color-background: #bdbdbd;
$color-highlight: #eeeeee;
$color-shadows: #7b7b7b;

$border-highlight-width: 4px;
$border-size: 16px - $border-highlight-width * 2;

$menu-size: 486px;
