@import "./variables";

div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $color-background;

    z-index: 3;

    &:not(.show) {
        display: none !important;
    }
}
