@import "./variables";

$color-bg: #4a4a4a;

div.overlay {
    position: absolute;
    left: calc(100% + #{$border-highlight-width});
    top: -$border-highlight-width;

    width: calc(100% + #{$border-highlight-width * 2});
    height: calc(100% + #{$border-highlight-width * 2});

    transition: all 0.2s ease-in;

    &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.open {
        left: -$border-highlight-width;
    }

    div.ribbon {
        $ribbon-width: $border-size + $border-highlight-width / 2;
        $ribbon-height: 48px;
        $ribbon-expanded-width: $ribbon-height;
        $ribbon-padding: $border-highlight-width * 3 / 2;

        --ribbon-width: #{$ribbon-width};

        position: absolute;

        top: 20px;
        left: calc(var(--ribbon-width) * -1 - #{$border-highlight-width} * 1.5);

        width: calc(var(--ribbon-width) + #{$ribbon-padding});
        height: $ribbon-height;

        cursor: pointer;

        &,
        & img,
        &::after {
            transition: all 0.15s;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        overflow-x: hidden;

        img {
            width: $ribbon-expanded-width;
            height: $ribbon-expanded-width;

            position: absolute;
            left: $ribbon-width + $ribbon-padding;

            z-index: 1;
        }

        &::after {
            display: block;
            content: "";

            border-top-left-radius: $border-size;
            border-bottom-left-radius: $border-size;

            position: absolute;
            top: 0;
            right: 0;

            height: $ribbon-height;
            width: var(--ribbon-width);

            background-color: $color-bg;

            opacity: 0.7;
        }

        &:hover {
            --ribbon-width: #{$ribbon-expanded-width};

            img {
                left: $ribbon-padding * 1.1;
            }
        }
    }
}
